{% extends "users/base.html" %}
{% block title %}Сброс пароля завершен{% endblock %}

{% block content %}

<!--Страница конца сброса пароля-->
<div class="complete-container">
    <div class="complete-card">
        <div class="icon-success">✅</div>
        <h1 class="complete-title">Сброс пароля завершен</h1>
        <p class="complete-message">
            Ваш пароль был успешно изменен. Теперь вы можете войти в свой аккаунт с новыми данными.
        </p>
        <a href="{% url 'login' %}" class="btn-login">Войти</a>
    </div>
</div>
{% endblock %}