{% extends "users/base.html" %}
{% block title %}Введите новый пароль{% endblock %}

{% block content %}

<!--Обновления пароля аккаунта-->
<div class="reset-password-container">
    <div class="reset-password-card">
        <h1 class="reset-password-title">Установка нового пароля</h1>

        {% if validlink %}
            <p>Пожалуйста, введите ваш новый пароль дважды.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <div class="error-message">{{ form.new_password1.errors.0 }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <div class="error-message">{{ form.new_password2.errors.0 }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn-submit">Изменить пароль</button>
            </form>
        {% else %}
            <p class="error-message mb-3">
                Ссылка для сброса пароля недействительна, возможно, она уже была использована.
                Пожалуйста, запросите сброс пароля снова.
            </p>
            <a href="{% url 'password_reset' %}" class="btn-submit">Запросить сброс пароля</a>
        {% endif %}

        <div class="login-link mt-3">
            <a href="{% url 'login' %}">Вернуться на страницу входа</a>
        </div>
    </div>
</div>
{% endblock %}