{% extends "users/base.html" %}
{% block title %}Инструкции отправлены{% endblock %}

<!--Функционал отправки сообщения для сброса пароля-->
{% block content %}
<div class="message-card">
    <div class="icon-success">✉️</div>
    <h1 class="message-title">Инструкции по сбросу пароля отправлены</h1>

    <p class="message-text">
        Мы отправили вам инструкции по установке нового пароля на указанный адрес электронной почты, если он существует в нашей базе данных. Вы должны получить их в ближайшее время.
    </p>

    <p class="message-text">
        Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес, с которым регистрировались, и проверьте папку "Спам".
    </p>

    <a href="{% url 'password_reset' %}" class="back-link">Вернуться назад</a>
</div>
{% endblock %}